@import "nav.css";
.hamburger-img {
    width: 1.5em;
    height: auto;
}


/* #8DADC6 blu  */


/* #D1809A roz */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #D1809A;
}

body::-webkit-scrollbar-thumb {
    background-color: #02121E;
    border-radius: 20px;
    border: 3px solid #D1809A;
}

body,
p,
h1,
h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.page {
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
    height: 100%;
}

.left {
    padding-top: 6em;
    background-color: #D1809A;
    padding-left: 40%;
    padding-bottom: 2em;
}

.right {
    padding-top: 6em;
    background-color: #8DADC6;
}


/* IN DREAPTA */

.search-input {
    height: 2em;
    width: 40%;
    border-radius: 13px;
    margin-left: 1em;
    border: none;
    padding: 0.1em;
    padding-left: 1em;
}

.search-input:focus {
    outline-width: 0;
}

.top-button {
    height: 2em;
    margin-left: 1em;
    background: #CBC0D3;
    border: none;
    color: #000;
    border-radius: 13px;
    font-family: 'Nunito', sans-serif;
    margin-top: 1%;
}

.top-button:hover {
    background: #EFD3D7;
    cursor: pointer;
}
.search-button {
    height: 2em;
    width: 7em;
    margin-left: 1em;
    background: #CBC0D3;
    border: none;
    color: #000;
    border-radius: 13px;
    font-family: 'Nunito', sans-serif;
}

.search-button:hover {
    background: #EFD3D7;
    cursor: pointer;
}

.details {
    font-size: 110%;
}

.tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag {
    background-color: #CBC0D3;
    border-radius: 13px;
    padding: 1%;
    margin: 2%;
    text-align: center;
    font-size: 90%;
}

.makeup-section {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}

.row {
    display: grid;
    grid-template-columns: 33% 33% auto;
    height: 100%;
}

.makeup-container {
    width: 80%;
    margin: 5%;
    background-color: #D1809A;
    border-radius: 13px;
    padding: 3%;
}

.wrap {
    position: relative;
}

.makeup-img {
    width: 100%;
    border-radius: 13px;
}

.hide {
    display: none;
    position: absolute;
    width: 0;
}

#overlay {
    position: fixed;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5%;
    padding-top: 20%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
}

.makeup-img:hover {
    filter: blur(1px);
}

.makeeup-img:hover+.hide {
    display: unset;
    z-index: 9;
    top: -5em;
    color: rgb(255, 255, 255);
    padding: 0.5em;
    font-size: 12px;
}


/* IN STANGA */

.title {
    font-size: 150%;
    font-weight: bold;
}

.subtitle {
    margin-top: 5%;
}

.subtitle1 {
    font-size: 135%;
}

.button-filter {
    border-radius: 5px;
    border: none;
    background-color: #02121E;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 135%;
    width: 50%;
}


/* footer */

.footer-reference {
    text-emphasis-color: white;
    height: 6em;
    text-align: center;
    align-items: center;
    background: #02121E;
    border-radius: 3px;
    border-color: #02121E;
    color: white;
}


/* Mobile */

@media screen and (max-width: 1150px) {
    .left {
        padding-top: 6em;
        background-color: #D1809A;
        padding-left: 30%;
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .left {
        padding-top: 6em;
        background-color: #D1809A;
        padding-left: 20%;
        font-size: 13px;
    }
    .details {
        font-size: 100%;
    }
    .tag {
        background-color: #CBC0D3;
        border-radius: 13px;
        padding: 1%;
        margin: 2%;
        text-align: center;
        font-size: 80%;
    }
}

@media screen and (max-width: 850px) {
    .left {
        padding-top: 6em;
        background-color: #D1809A;
        padding-left: 15%;
        font-size: 11px;
    }
    .slider {
        width: 80%;
    }
    .footer-reference {
        text-emphasis-color: white;
        height: 6em;
        text-align: center;
        align-items: center;
        background: #02121E;
        border-radius: 3px;
        border-color: #02121E;
        color: white;
        font-size: 15px;
    }
    .details {
        font-size: 90%;
    }
    .tag {
        background-color: #CBC0D3;
        border-radius: 13px;
        padding: 1%;
        margin: 2%;
        text-align: center;
        font-size: 70%;
    }
}

@media screen and (max-width: 700px) {
    .row {
        display: grid;
        grid-template-columns: 50% auto;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .left {
        padding-top: 6em;
        background-color: #D1809A;
        padding-left: 12%;
        font-size: 10px;
    }
    .slider {
        width: 80%;
    }
    .footer-reference {
        text-emphasis-color: white;
        height: 6em;
        text-align: center;
        align-items: center;
        background: #02121E;
        border-radius: 3px;
        border-color: #02121E;
        color: white;
        font-size: 14px;
    }
    .details {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .page {
        display: grid;
        grid-template-columns: 25% 75%;
        min-height: 100vh;
        height: 100%;
    }
    .search-input {
        height: 2em;
        width: 60%;
        border-radius: 13px;
        margin-left: 1em;
        border: none;
        padding: 0.1em;
        padding-left: 1em;
    }
    .row {
        display: grid;
        grid-template-columns: 100%;
        height: 100%;
    }
    .footer-reference {
        text-emphasis-color: white;
        height: 6em;
        text-align: center;
        align-items: center;
        background: #02121E;
        border-radius: 3px;
        border-color: #02121E;
        color: white;
        font-size: 13px;
    }
}

@media screen and (max-width: 400px) {
    .page {
        display: grid;
        grid-template-columns: 30% 70%;
        min-height: 100vh;
        height: 100%;
    }
    .footer-reference {
        text-emphasis-color: white;
        height: 6em;
        text-align: center;
        align-items: center;
        background: #02121E;
        border-radius: 3px;
        border-color: #02121E;
        color: white;
        font-size: 11px;
    }
}

@media screen and (max-width: 340px) {
    .page {
        display: grid;
        grid-template-columns: 35% 65%;
        min-height: 100vh;
        height: 100%;
    }
    .left {
        padding-top: 6em;
        background-color: #D1809A;
        padding-left: 10%;
        font-size: 9px;
    }
    .footer-reference {
        text-emphasis-color: white;
        height: 6em;
        text-align: center;
        align-items: center;
        background: #02121E;
        border-radius: 3px;
        border-color: #02121E;
        color: white;
        font-size: 9px;
    }
    .tag {
        background-color: #CBC0D3;
        border-radius: 13px;
        padding: 1%;
        margin: 2%;
        text-align: center;
        font-size: 60%;
    }
}