<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ivy sun - admins only</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/admin-home.css">
</head>

<body onload=isAdminCookie()>
    <div id="nav-background">
        <div id="nav-container">
            <header id="nav-header">
                <h1>
                    <a class="nav-logo-function" href="index.html#home" id="nav-logo"> Ivy </a>
                </h1>
                <img src="https://i.imgur.com/xcFvxAK.png" class="hamburger-img" id="nav-menu-button">
            </header>
            <nav>
                <ul id="navv" class="nav-ul hide-ul">
                    <li><a class="nav-link" href="index.html#about">About Us</a></li>
                    <li><a class="nav-link" href="index.html#contact">Contact</a></li>
                    <li><a class="nav-link" href="makeup.html">Makeup</a></li>
                    <li><a class="nav-link" href="search.html">Products</a></li>
                    {{loggedin}}
                </ul>
            </nav>
        </div>
    </div>
    <script src="scripts/nav.js"></script>

    <div class="admin-page">
        <h1 class="title"> Welcome to the admin home page </h1>
        <div class="butoane">
            <a href="admin-makeup.html"> <button class="buton"> Makeup </button> </a>
            <a href="admin-products.html"> <button class="buton"> Products </button> </a>
            <a href="admin-feedback.html"> <button class="buton"> Feedback </button> </a>
        </div>
    </div>

</body>

</html>